__pycache__/
build/
*.zip
*.whl
saves/*.xml
.coverage
.coverage.*
.ipynb_checkpoints/

# For those who use PyCharm
.idea/

# For those who use vscode
.vscode/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
